In [2]:
import pandas as pd

data = pd.read_csv('https://raw.githubusercontent.com/Chhinna/Analytics-GC/main/Copy%20of%20Extract.xlsx%20-%20Sheet1.csv')

data.head()

   y       x1       x2       x3       x4  Unnamed: 5  open-close  high-low
0  0  3861.22  3861.66  3860.75  3861.38         NaN        0.16      0.91
1  0  3861.19  3861.38  3860.16  3861.25         NaN        0.06      1.22
2  0  3861.38  3861.38  3858.47  3858.53         NaN       -2.85      2.91
3  1  3858.72  3858.72  3857.03  3858.19         NaN       -0.53      1.69
4  1  3858.09  3859.16  3858.03  3858.81         NaN        0.72      1.13

# New Section

In [3]:
import numpy as np
from sklearn.linear_model import LogisticRegression

def linear_training(X_train,y_train):
    # creating the polynomial features
    reg = LogisticRegression(random_state=0).fit(X_train, y_train)
    return reg

def linear_prediction(reg, X_val, y_val):
    y_pred = reg.predict(X_val)
    score = 0
    y_val = y_val.values.tolist()
    for i in range(len(y_val)):
      if(y_val[i] == y_pred[i]):
        score = score + 1
    return score/len(y_val)

In [29]:
def find_features(data):
  X = data
  X['open-close'] = X['x4']-X['x1']
  X['high-low'] = X['x2']-X['x3']
  X['bin_oc_delta'] = np.where(X['open-close']<0,0,1)
  num_threshold=0.3
  X['bin_volatile'] = np.where((X['open-close']/X['high-low'])<num_threshold,0,1)
  X = X[['open-close', 'high-low', 'bin_oc_delta', 'bin_volatile']]
  return X

In [5]:
from sklearn.model_selection import train_test_split
y = data['y']
X = data[['open-close', 'high-low']]
#X = data[['x1', 'x2', 'x3', 'x4']]
# X_train, X_val, y_train, y_val  = train_test_split(X, y, test_size=0.2, random_state=1)

# model = linear_training(X_train, y_train)
# score = linear_prediction(model, X_val, y_val)
# #print(score)
# print(model.coef_)

In [14]:
data_copy = data.copy()
data_copy['bin_oc_delta'] = np.where(data_copy['open-close']<0,0,1) 
X['bin_oc_delta'] = data_copy['bin_oc_delta']
num_threshold=0.3
data_copy['bin_volatile'] = np.where((data_copy['open-close']/data_copy['high-low'])<num_threshold,0,1)
X['bin_volatile'] = data_copy['bin_volatile']

y = data['y']

print(X, y)
# X['Close Diff'] = data_copy['Close Diff']

      open-close  high-low  bin_oc_delta  bin_volatile  Close Diff
0           0.16      0.91             1             0        0.13
1           0.06      1.22             1             0        2.72
2          -2.85      2.91             0             0        0.34
3          -0.53      1.69             0             0       -0.62
4           0.72      1.13             1             1       -0.82
...          ...       ...           ...           ...         ...
9995        0.13      1.25             1             0        0.16
9996       -0.06      0.56             0             0       -0.19
9997        0.16      0.62             1             0        0.57
9998       -0.60      1.75             0             0       -0.13
9999        0.16      0.60             1             0         NaN

[10000 rows x 5 columns] 0       0
1       0
2       0
3       1
4       1
       ..
9995    0
9996    1
9997    0
9998    1
9999    0
Name: y, Length: 10000, dtype: int64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
# data_copy = data.copy()
# data_copy['Close Diff'] = data_copy['x4'].diff(-1)
# X['Close Diff'] = data_copy['Close Diff']
# #print(data_copy[['x4','Close Diff']])
# #data_copy.dropna()
# data_copy=data_copy[:9999]
# data_copy.shape

In [18]:
X1 = X[['open-close', 'high-low','Close Diff', 'bin_oc_delta', 'bin_volatile']][:9999]
y1 = y[:9999]

In [19]:
X_train, X_test, y_train, y_test  = train_test_split(X1, y1, shuffle=True, test_size=0.2, random_state=69)
X_train, X_val, y_train, y_val  = train_test_split(X_train, y_train, test_size=0.3, random_state=19)
model1 = linear_training(X_train, y_train)
score1 = linear_prediction(model1, X_test, y_test)
print(score1)
print(model1.coef_)

0.9975
[[ 1.70631622e-01  9.89547993e-03 -1.59354089e+01 -3.50888293e-01
   2.69223306e-01]]

In [20]:
X2 = X[['open-close', 'high-low', 'bin_oc_delta', 'bin_volatile']][:9999]
y2 = y[:9999]

In [27]:
#y1 = data_copy.dropna()['y']
# y1 = data_copy['y']
# X = data_copy[['open-close', 'high-low','Close Diff']]
#X = data_copy.dropna()[['open-close', 'high-low','Close Diff']]
#X = data[['x1', 'x2', 'x3', 'x4']]
X_train, X_test, y_train, y_test  = train_test_split(X2, y2, shuffle=True, test_size=0.2, random_state=69)
X_train, X_val, y_train, y_val  = train_test_split(X_train, y_train, test_size=0.2, random_state=19)
model2 = linear_training(X_train, y_train)
score2 = linear_prediction(model2, X_test, y_test)
print(score2)
print(model2.coef_)

0.534
[[ 0.03185961 -0.02415157 -0.00680359  0.3966864 ]]

In [25]:
# test_data=pd.read_csv('https://github.com/ParthLa/Analytics-GC/blob/main/test_data_AnalyticsGC.csv')
test_data=pd.read_csv('/content/test_data_AnalyticsGC.csv')

In [35]:
test_data

          x1       x2       x3  ...  high-low  bin_oc_delta  bin_volatile
0    3798.66  3798.84  3798.09  ...      0.75             0             0
1    3798.22  3798.78  3798.13  ...      0.65             1             1
2    3798.50  3799.06  3798.28  ...      0.78             0             0
3    3798.31  3798.41  3797.53  ...      0.88             0             0
4    3797.94  3798.78  3797.84  ...      0.94             1             1
..       ...      ...      ...  ...       ...           ...           ...
995  3749.84  3750.09  3749.44  ...      0.65             0             0
996  3749.88  3749.88  3749.03  ...      0.85             0             0
997  3749.31  3749.38  3746.63  ...      2.75             0             0
998  3747.03  3747.28  3746.00  ...      1.28             0             0
999  3745.97  3746.50  3744.81  ...      1.69             0             0

[1000 rows x 8 columns]

In [30]:
test_X = find_features(test_data)

In [40]:
pred = model2.predict(test_X)

In [41]:
pred_df = pd.DataFrame(pred, columns=['y'])
pred_df.to_csv('y_test.csv')

In [42]:
nmr = 0
dnm = 0
l = test_data.shape[0]
for i in range(l-1):
  c1=test_data['x4'][i+1] - test_data['x4'][i]
  if(c1>=0 and pred[i]==1):
    nmr+=1
  elif(c1<0 and pred[i]==0):
    nmr+=1
  dnm+=1

In [43]:
acc = nmr/dnm
acc

0.5075075075075075